<%- include('../partials/header') %>
<%- include('../partials/menu') %>


<!-- Search stuff -->
<br>
<div class='d-flex justify-content-center' style='position: -webkit-sticky; position: sticky;'>
    <h1>Artist Reviews</h1>
</div>

<div class='d-flex justify-content-center'>
    <input type="text" id="reviewsearch" placeholder='Enter artist name'>
    <div style="padding-left: 5px;">
        <button id='review-button' type="button" class="btn btn-primary" onclick="on_filter_click()">Filter</button>
    </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Artist</th>
      <th scope="col">Review</th>
      <th scope="col">Review Date</th>
    </tr>
  </thead>

  <tbody id='review-table-body'>
  </tbody>
</table>

<%- include('../partials/footer') %>